.container {
    width: 100%;
    margin: 15 auto;
    text-align: center;
    font-size: x-large;
}

.problema-container {
    padding: 0.1rem;
    margin-top: 2rem;
    border-radius: 14px;
}

.problema-title {
    font-weight: bold;
    margin-bottom: 2rem;
}

.problema-input {
    padding: 0.6rem;
    margin-top: 0.7rem;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    border: 2px solid #060c59e3;
}

.problema-button, a {
    padding: 0.4rem;
    background-color: #55e617;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
}

.problema-output {
    background-color: #514ee7;
    padding: 0.4rem;
    margin-top: 0.9rem;
    border-radius: 6px;
    text-align: left;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.tablas {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.problema-table {
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}

.problema-table th {
    background-color: #be0707;
    border: 3px solid #1a1818f5;
    padding: 6px;
}

.problema-table td {
    border: 3px solid #0a0808ec;
    padding: 6px;
}